In [38]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sklearn import datasets, svm,linear_model
import seaborn as sns
import csv

In [39]:
# ignore all future warnings
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

In [40]:
#read training & test dataset
df = pd.read_csv(r"C:\Users\User-5\Documents\Python Scripts\Jupyter Notebook Files\titanic competition\train.csv") 
dftest = pd.read_csv(r"C:\Users\User-5\Documents\Python Scripts\Jupyter Notebook Files\titanic competition\test.csv") 
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [37]:
#replace null values with column mean
df.Fare.fillna(df.Fare.mean(),inplace=True)
df.Age.fillna(df.Age.median(), inplace=True)

dftest = dftest.fillna(df.mean())

#Create new column familysize
df['FamSize'] = df['SibSp'] + df['Parch']
dftest['FamSize'] = dftest['SibSp'] + dftest['Parch']

#Create new column child or adult
#df['Child'] = np.where(df['Age']<=18, 1, 0)
#df['Adult'] = np.where(df['Age']>18, 1, 0)
#dftest['Child'] = np.where(dftest['Age']<=18, 1, 0)
#dftest['Adult'] = np.where(dftest['Age']>18, 1, 0)

In [27]:
#use dummy variables for categorical data - split into one column per value with 1s & 0s
d = {1:'1st',2:'2nd',3:'3rd'} #Creating a dictionary to convert Passenger Class from 1,2,3 to 1st,2nd,3rd.
df['Pclass'] = df['Pclass'].map(d) #Mapping the column based on the dictionary
dftest['Pclass'] = dftest['Pclass'].map(d) #Mapping the column based on the dictionary

df = pd.get_dummies(df, columns=["Pclass","Embarked", "Sex"], prefix=["Pclass","Embarked", "Sex"])
dftest = pd.get_dummies(dftest, columns=["Pclass","Embarked", "Sex"], prefix=["Pclass","Embarked", "Sex"])

x = df.drop(["PassengerId","SibSp","Parch","Survived","Name","Ticket","Cabin"],axis=1)
xtest = dftest.drop(["PassengerId","SibSp","Parch","Name","Ticket","Cabin"],axis=1)

In [28]:
#Split data into X and Y and then Train and Test data. Drop irrellevant columns
y = df.Survived

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [29]:
#Import the Logstic Regression Model from sklearn library
lm = linear_model.LogisticRegression()

#fit the model on the training data
model = lm.fit(x_train,y_train)

#calculate prediction on the test data
predictions = lm.predict(x_test)
#predictions_test = lm.predict(xtest)


from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test,predictions))

[[129  31]
 [ 38  70]]
              precision    recall  f1-score   support

           0       0.77      0.81      0.79       160
           1       0.69      0.65      0.67       108

    accuracy                           0.74       268
   macro avg       0.73      0.73      0.73       268
weighted avg       0.74      0.74      0.74       268

In [30]:
#Import the Gradient Boosting Classifier Model from sklearn library

from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier(learning_rate=0.1,max_depth=3)
model.fit(x_train, y_train)
predictions_grad = model.predict(x_test)

from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_test, predictions_grad))
print(classification_report(y_test,predictions_grad))

[[140  20]
 [ 33  75]]
              precision    recall  f1-score   support

           0       0.81      0.88      0.84       160
           1       0.79      0.69      0.74       108

    accuracy                           0.80       268
   macro avg       0.80      0.78      0.79       268
weighted avg       0.80      0.80      0.80       268

In [31]:
#calculate model accuracy
score = lm.score(x_test, y_test)
score

0.7425373134328358

In [32]:
#Predict on Test Set using Logistic Regression
predictions_test = lm.predict(xtest)
new_pred = pd.DataFrame(predictions_test)
export = np.column_stack((dftest.PassengerId, new_pred))

In [33]:
#Predict on Test Set using  Boosting Classifier Model 
predictions_test = model.predict(xtest)
new_pred = pd.DataFrame(predictions_test)
export = np.column_stack((dftest.PassengerId, new_pred))
export

array([[ 892,    0],
       [ 893,    1],
       [ 894,    0],
       [ 895,    0],
       [ 896,    1],
       [ 897,    0],
       [ 898,    0],
       [ 899,    0],
       [ 900,    1],
       [ 901,    0],
       [ 902,    0],
       [ 903,    0],
       [ 904,    1],
       [ 905,    0],
       [ 906,    1],
       [ 907,    1],
       [ 908,    0],
       [ 909,    0],
       [ 910,    1],
       [ 911,    1],
       [ 912,    0],
       [ 913,    0],
       [ 914,    1],
       [ 915,    1],
       [ 916,    1],
       [ 917,    0],
       [ 918,    1],
       [ 919,    0],
       [ 920,    1],
       [ 921,    0],
       [ 922,    0],
       [ 923,    0],
       [ 924,    1],
       [ 925,    0],
       [ 926,    1],
       [ 927,    0],
       [ 928,    0],
       [ 929,    0],
       [ 930,    0],
       [ 931,    1],
       [ 932,    0],
       [ 933,    0],
       [ 934,    0],
       [ 935,    1],
       [ 936,    1],
       [ 937,    0],
       [ 938,    0],
       [ 939,    0],
       [ 940,    1],
       [ 941,    1],
       [ 942,    0],
       [ 943,    0],
       [ 944,    1],
       [ 945,    1],
       [ 946,    0],
       [ 947,    0],
       [ 948,    0],
       [ 949,    0],
       [ 950,    0],
       [ 951,    1],
       [ 952,    0],
       [ 953,    0],
       [ 954,    0],
       [ 955,    1],
       [ 956,    0],
       [ 957,    1],
       [ 958,    1],
       [ 959,    0],
       [ 960,    0],
       [ 961,    1],
       [ 962,    1],
       [ 963,    0],
       [ 964,    1],
       [ 965,    0],
       [ 966,    1],
       [ 967,    1],
       [ 968,    0],
       [ 969,    1],
       [ 970,    0],
       [ 971,    1],
       [ 972,    1],
       [ 973,    0],
       [ 974,    0],
       [ 975,    0],
       [ 976,    0],
       [ 977,    0],
       [ 978,    1],
       [ 979,    0],
       [ 980,    1],
       [ 981,    1],
       [ 982,    1],
       [ 983,    0],
       [ 984,    1],
       [ 985,    0],
       [ 986,    1],
       [ 987,    0],
       [ 988,    1],
       [ 989,    0],
       [ 990,    0],
       [ 991,    0],
       [ 992,    1],
       [ 993,    0],
       [ 994,    0],
       [ 995,    0],
       [ 996,    1],
       [ 997,    0],
       [ 998,    0],
       [ 999,    0],
       [1000,    0],
       [1001,    0],
       [1002,    0],
       [1003,    1],
       [1004,    1],
       [1005,    1],
       [1006,    1],
       [1007,    0],
       [1008,    0],
       [1009,    1],
       [1010,    1],
       [1011,    1],
       [1012,    1],
       [1013,    0],
       [1014,    1],
       [1015,    0],
       [1016,    0],
       [1017,    1],
       [1018,    0],
       [1019,    1],
       [1020,    0],
       [1021,    0],
       [1022,    0],
       [1023,    0],
       [1024,    0],
       [1025,    0],
       [1026,    0],
       [1027,    0],
       [1028,    0],
       [1029,    0],
       [1030,    0],
       [1031,    0],
       [1032,    0],
       [1033,    1],
       [1034,    0],
       [1035,    0],
       [1036,    1],
       [1037,    0],
       [1038,    0],
       [1039,    0],
       [1040,    0],
       [1041,    0],
       [1042,    1],
       [1043,    0],
       [1044,    0],
       [1045,    1],
       [1046,    0],
       [1047,    0],
       [1048,    1],
       [1049,    0],
       [1050,    1],
       [1051,    1],
       [1052,    1],
       [1053,    1],
       [1054,    1],
       [1055,    0],
       [1056,    0],
       [1057,    0],
       [1058,    1],
       [1059,    0],
       [1060,    1],
       [1061,    0],
       [1062,    0],
       [1063,    0],
       [1064,    0],
       [1065,    0],
       [1066,    0],
       [1067,    1],
       [1068,    1],
       [1069,    1],
       [1070,    1],
       [1071,    1],
       [1072,    0],
       [1073,    0],
       [1074,    1],
       [1075,    0],
       [1076,    1],
       [1077,    0],
       [1078,    1],
       [1079,    0],
       [1080,    0],
       [1081,    0],
       [1082,    0],
       [1083,    0],
       [1084,    0],
       [1085,    0],
       [1086,    0],
       [1087,    0],
       [1088,    1],
       [1089,    0],
       [1090,    0],
       [1091,    0],
       [1092,    1],
       [1093,    1],
       [1094,    0],
       [1095,    1],
       [1096,    0],
       [1097,    0],
       [1098,    0],
       [1099,    0],
       [1100,    1],
       [1101,    0],
       [1102,    0],
       [1103,    0],
       [1104,    0],
       [1105,    1],
       [1106,    0],
       [1107,    0],
       [1108,    1],
       [1109,    0],
       [1110,    1],
       [1111,    0],
       [1112,    1],
       [1113,    0],
       [1114,    1],
       [1115,    0],
       [1116,    1],
       [1117,    1],
       [1118,    0],
       [1119,    1],
       [1120,    0],
       [1121,    0],
       [1122,    0],
       [1123,    1],
       [1124,    0],
       [1125,    0],
       [1126,    1],
       [1127,    0],
       [1128,    0],
       [1129,    0],
       [1130,    1],
       [1131,    1],
       [1132,    1],
       [1133,    1],
       [1134,    0],
       [1135,    0],
       [1136,    0],
       [1137,    0],
       [1138,    1],
       [1139,    0],
       [1140,    1],
       [1141,    1],
       [1142,    1],
       [1143,    0],
       [1144,    1],
       [1145,    0],
       [1146,    0],
       [1147,    0],
       [1148,    0],
       [1149,    0],
       [1150,    1],
       [1151,    0],
       [1152,    0],
       [1153,    0],
       [1154,    1],
       [1155,    1],
       [1156,    0],
       [1157,    0],
       [1158,    0],
       [1159,    0],
       [1160,    0],
       [1161,    0],
       [1162,    0],
       [1163,    0],
       [1164,    1],
       [1165,    1],
       [1166,    0],
       [1167,    1],
       [1168,    0],
       [1169,    0],
       [1170,    0],
       [1171,    0],
       [1172,    0],
       [1173,    1],
       [1174,    1],
       [1175,    0],
       [1176,    1],
       [1177,    0],
       [1178,    0],
       [1179,    0],
       [1180,    0],
       [1181,    0],
       [1182,    0],
       [1183,    1],
       [1184,    0],
       [1185,    0],
       [1186,    0],
       [1187,    0],
       [1188,    1],
       [1189,    0],
       [1190,    0],
       [1191,    0],
       [1192,    0],
       [1193,    0],
       [1194,    0],
       [1195,    0],
       [1196,    1],
       [1197,    1],
       [1198,    0],
       [1199,    0],
       [1200,    0],
       [1201,    0],
       [1202,    0],
       [1203,    0],
       [1204,    0],
       [1205,    0],
       [1206,    1],
       [1207,    1],
       [1208,    0],
       [1209,    0],
       [1210,    0],
       [1211,    0],
       [1212,    0],
       [1213,    0],
       [1214,    0],
       [1215,    1],
       [1216,    1],
       [1217,    0],
       [1218,    1],
       [1219,    0],
       [1220,    0],
       [1221,    0],
       [1222,    1],
       [1223,    0],
       [1224,    0],
       [1225,    1],
       [1226,    0],
       [1227,    0],
       [1228,    0],
       [1229,    0],
       [1230,    0],
       [1231,    0],
       [1232,    0],
       [1233,    0],
       [1234,    0],
       [1235,    1],
       [1236,    0],
       [1237,    1],
       [1238,    0],
       [1239,    1],
       [1240,    0],
       [1241,    1],
       [1242,    1],
       [1243,    0],
       [1244,    0],
       [1245,    0],
       [1246,    1],
       [1247,    0],
       [1248,    1],
       [1249,    0],
       [1250,    0],
       [1251,    1],
       [1252,    0],
       [1253,    1],
       [1254,    1],
       [1255,    0],
       [1256,    1],
       [1257,    0],
       [1258,    0],
       [1259,    0],
       [1260,    1],
       [1261,    0],
       [1262,    0],
       [1263,    1],
       [1264,    0],
       [1265,    0],
       [1266,    1],
       [1267,    1],
       [1268,    0],
       [1269,    0],
       [1270,    0],
       [1271,    0],
       [1272,    0],
       [1273,    0],
       [1274,    0],
       [1275,    1],
       [1276,    0],
       [1277,    1],
       [1278,    0],
       [1279,    0],
       [1280,    0],
       [1281,    0],
       [1282,    0],
       [1283,    1],
       [1284,    0],
       [1285,    0],
       [1286,    0],
       [1287,    1],
       [1288,    0],
       [1289,    1],
       [1290,    0],
       [1291,    0],
       [1292,    1],
       [1293,    0],
       [1294,    1],
       [1295,    0],
       [1296,    0],
       [1297,    0],
       [1298,    0],
       [1299,    0],
       [1300,    1],
       [1301,    1],
       [1302,    1],
       [1303,    1],
       [1304,    0],
       [1305,    0],
       [1306,    1],
       [1307,    0],
       [1308,    0],
       [1309,    0]], dtype=int64)